.main-slider-container {
    /* position: relative; */
    float: left;
    width: 100%;
    user-select: none;
    z-index: 0;
}

.movie-cover { 
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent) , to(rgba(250, 250, 250, 0.1)));
    border-radius: 10px !important;
    margin: 0 auto;
}

.movie-cover {
    transform: scale(1.01); 
}

.arrows {
    opacity: 0.5;
    padding: 15px;
    margin-top: 10px;
    /* align-self: flex-end; */
    text-align: right;
}

.arrows:hover {
    opacity: 1;
}

.slider-item {
    transition: transform .2s;
}

.slider-item {
    /* transform: scale(1.01);  */
}